/* Estiliza o título h2 dentro da classe 'repos' */
.repos h2 {
    font-size: 1.2rem; /* Define o tamanho da fonte */
    text-align: center; /* Alinha o texto ao centro */
    margin-bottom: 2rem; /* Adiciona uma margem inferior */
  }
  
  /* Estiliza o contêiner dos repositórios */
  .repos_container {
    background-color: #2b3566; /* Cor de fundo */
    padding: 2rem; /* Espaçamento interno */
    border-radius: 1rem; /* Bordas arredondadas */
    display: flex; /* Define o layout flexível */
    align-items: center; /* Alinha os itens ao centro */
    flex-wrap: wrap; /* Permite que os itens quebrem linha */
    gap: 1.2rem; /* Espaçamento entre os itens */
  }
  