/* Estiliza o botão de voltar */
.back_btn {
    position: absolute; /* Posiciona o botão de forma absoluta */
    top: 1rem; /* Define a posição do botão a 1rem do topo */
    left: 1rem; /* Define a posição do botão a 1rem da esquerda */
    padding: 0.5rem 1rem; /* Define o espaçamento interno do botão */
    color: #9da5da; /* Define a cor do texto do botão */
    background-color: #2b3566; /* Define a cor de fundo do botão */
    cursor: pointer; /* Define o cursor como pointer ao passar sobre o botão */
    border: none; /* Remove qualquer borda do botão */
    border-radius: 5px; /* Define bordas arredondadas */
    opacity: 0.9; /* Define a opacidade do botão */
  }
  
  /* Estiliza o botão de voltar ao passar o mouse sobre ele */
  .back_btn:hover {
    opacity: 1; /* Define a opacidade como 1 ao passar o mouse sobre o botão */
  }
  